<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="53"

            [imageSrc]="'../../../assets/iconohtml.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="53"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810d70'"
            [innerStrokeColor]="'#00acac'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>
     
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="53"

            [imageSrc]="'../../../assets/iconojava.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="55"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810d70'"
            [innerStrokeColor]="'#00acac'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>
  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="53"

            [imageSrc]="'../../../assets/iconocss.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="53"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810d70'"
            [innerStrokeColor]="'#00acac'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="40"
            [radius]="53"

            [imageSrc]="'../../../assets/iconoapache.jpg'"
            [showImage]="true"
            [imageHeight]="55"
            [imageWidth]="55"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810d70'"
            [innerStrokeColor]="'#00acac'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="53"

            [imageSrc]="'../../../assets/iconogithub.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="55"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810d70'"
            [innerStrokeColor]="'#00acac'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="53"

            [imageSrc]="'../../../assets/iconoequipo.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="55"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810d70'"
            [innerStrokeColor]="'#00acac'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="53"

            [imageSrc]="'../../../assets/iconoingles.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="55"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810d70'"
            [innerStrokeColor]="'#00acac'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="53"

            [imageSrc]="'../../../assets/icononeerlandes.png'"
            [showImage]="true"
            [imageHeight]="55"
            [imageWidth]="57"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810d70'"
            [innerStrokeColor]="'#00acac'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="53"

            [imageSrc]="'../../../assets/iconociencia.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="55"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810d70'"
            [innerStrokeColor]="'#00acac'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>


</div>
