<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="50"

            [imageSrc]="'../../../assets/iconohtml.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>
     
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="50"

            [imageSrc]="'../../../assets/iconojava.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>
  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="50"

            [imageSrc]="'../../../assets/iconocss.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="98"
            [radius]="50"

            [imageSrc]="'../../../assets/iconoidiomas.jpg'"
            [showImage]="true"
            [imageHeight]="55"
            [imageWidth]="55"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="50"

            [imageSrc]="'../../../assets/iconogithub.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="50"

            [imageSrc]="'../../../assets/iconoequipo.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="450"
        ></circle-progress>
    </div>


</div>
