<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
         <ul>
            <li><h1>Educación1</h1> - 
             <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error dignissimos voluptates enim eum tempora eius? Iure, harum et, accusamus voluptate consectetur nihil dicta, quae beatae cupiditate eligendi repellendus quaerat iste.</p>
         </ul>
         <ul>
             <li><h1>Educación2</h1> - 
              <h3>(years)</h3></li>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error dignissimos voluptates enim eum tempora eius? Iure, harum et, accusamus voluptate consectetur nihil dicta, quae beatae cupiditate eligendi repellendus quaerat iste.</p>
          </ul>
          <ul>
             <li><h1>Educación3</h1> - 
              <h3>(years)</h3></li>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error dignissimos voluptates enim eum tempora eius? Iure, harum et, accusamus voluptate consectetur nihil dicta, quae beatae cupiditate eligendi repellendus quaerat iste.</p>
          </ul>
     </div>
 </div>
 