<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm"> <!--formulario-->
                <div class="form-group">
                    <label for="nombreE">Nombre de la Institución</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripción de los estudios</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <button class="btn btn-success"> <!--https://getbootstrap.com/docs/4.0/components/buttons/-->
                    Agregar educación
                </button>
            </form>
        </div>
    </div>
</div>