.container{
   display: flex;
   justify-content: space-between; /*pone el div de logo y el de redes uno en una punta y el otro en la otra*/
   align-items: center; /*deberían quedar todos en la misma linea*/
}
.redes {
    margin-right: 0.8em;
   }
#logoAP{
    width: 150px;
 }
img{
    width: 50px;
}

.btn{
    border-width: 2.5px;
}

/*cuando @ media encuentra como máximo esta cantidad de pixeles, aplica la configuración/**/
/*flex direction column hace que se mantenga uno debajo de otro en columna centrado*/

@media (max-width: 575px){
    .container{
    flex-direction: column;
}

.redes{
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.redes img{
    margin: 0.3em;
}
}

/*otro query porque si no me saltan los iconos*/
@media (max-width: 397px){
    .container{
    Flex-direction: column
    }

   .redes img{
   Margin: 0.3em;
}
}
