/*clase row le agrego margen a la izq*/
.row{
    padding: 20px;
    background-color: #ffd778;
    text-align: left;
}

/*el contenedor aca sería mi div principal*/
.contenedor{
 width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
    text-align: left;
}

/*ejex ejey difumación*/
.img-proyecto{
    box-shadow: 10px 10px 30px #f59c49;
    
}