<div class="row">
<h1>Proyectos realizados</h1>
    <div class="contenedor">
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Proyecto Blog Personal</h3>
            <p>Esta imagen corresponde a un antiguo proyecto sobre un blog personal que recopilaba diferentes fragmentos de libros y películas</p>
      </div> 
        
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyectoimagen.jpg" class="img-fluid img-proyecto">




    </div>

</div>
